<?xml version="1.0"?>
<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=orcl;User ID=admin;Password=oracle;Unicode=True"
   providerName="System.Data.OracleClient" />
  <add name="ConnectionString2" connectionString="Data Source=orcl;Persist Security Info=True;User ID=admin;Password=oracle;Unicode=True"
   providerName="System.Data.OracleClient" />
 </connectionStrings>
 <system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
